// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 40px;
	background-color: #7685ff;
}
td {
	padding: 8px;
}
th{
	font-size: 20px;
	color: #008040
}
h1 {
	margin-bottom:13px;
	color: #00763b
}
